.donate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .block-section {
    width: 100%;
  }
  //donate text
  .donate-text {
    color: $color-nblue;
    font-weight: 500;
    // max-width: 900px;
    h3 {
      color: $color-wgreen;
    }

    padding: 40px 40px 20px;
  }
}
//donate frequency
.donation-amount-container {
  width: 100%;
  .donation-amount {
    padding: 40px 40px 20px;
    padding-top: 20px;
  }
  .donation-amount-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .donation-amount-frequency-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
      .donation-amount-frequency-box {
        width: 50%;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        border: 2px solid $color-wgreen;
        color: $color-wgreen;
        label {
          position: relative;
          padding: 15px;
          flex-grow: 1;
          text-align: center;
        }
      }
    }
    .donation-amount-list {
      margin: 14px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .donation-amount-list-value-box {
        margin-right: 20px;
        font-size: 21px;
        line-height: 24px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);

        border: solid 1px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
        overflow-wrap: break-word;
        cursor: pointer;
        .amount-label.rf {
          padding: 8px;
        }
        .amount-label {
          display: block;
          position: relative;
        }

        .custom-amount {
          border: none;
          text-indent: 15px;
          width: 80%;
          &:focus {
            //border:none;
            box-shadow: none;
          }
        }
      }
      .donation-amount-list-value-box.normal {
        margin: 3px;
        min-height: 44px;
        width: auto;
      }
    }
  }
}
.donation-amount-list-input {
  appearance: none;
  width: fit-content;
  height: 100%;
  &:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
  }
}
.donation-amount-list-input-label {
  margin: 0;
  min-height: 44px;
}
//donate donor
.donation-donor {
  padding: 40px 40px 20px;
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
}
.donation-subtitle {
  margin-bottom: 25px;
  font-size: 24px;
  color: $color-nblue;
}
.donor-box {
  margin-top: 20px;
}
.donor-label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
.label-column {
  margin-bottom: 10px;
}
.required {
  &::after {
    content: '\a0*';
    color: #cd4443;
  }
}
.donor-half-box {
  display: flex;
  flex-direction: column;
}
.donor-text-input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  height: 42px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  line-height: normal;
  outline: 0;
  background-color: #fff;
  font-family: mulish, Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 100%;
  -webkit-appearance: none;
  background-color: #f9f9f9;
}
.donor-text-area {
  width: 100%;
  max-width: 100%;
  text-indent: 30px;
}
.donate-button-container {
  display: flex;
}
