#header-container {
  width: 100%;
  height: auto;
  opacity: 1;

  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;

  #header-nav {
    width: 100%;
    padding: 0;
    box-shadow: 0 3px 0 0 rgb(171, 178, 185);
    justify-content: center;
    background: #f2f4f4;
    z-index: 100000;
  }
  .container {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    .navbar-logo {
      margin-right: 25px;
      img {
        height: 80px;
        width: 130px;
        object-fit: contain;
      }
    }
    .navbar-menu {
      flex-basis: 100%;
      flex-wrap: nowrap;
      .navbar-menulist {
        display: flex;
        .navbar-menulist-item {
          position: relative;
          a {
            display: block;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 27px 20px;
            font-size: 14px;
            font-weight: 400;
            color: #716b70;
            text-decoration: none;
          }

          .dropdown-menu {
            li {
              a {
                white-space: nowrap;
                padding: 15px 74px 15px 24px;
                display: block;
                font-size: 14px;
                color: #716b70;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 2px solid #e2e1e1;
              }
            }
          }
        }
      }
    }
    .navbar-menu-collapse {
      display: none;
    }
  }
  .navbuttons-container {
    display: flex;
    align-items: center;
    height: 81px;
    .special-btn {
      display: flex;
      height: 100%;
      align-items: center;
      .btn {
        font-size: 16px;
        font-weight: 700;
        color: $color-wgreen;
        &::after {
          content: '';
          border-bottom: 1px solid $color-wgreen;
          width: 100%;
          display: block;
        }
      }
    }
    .search-container {
      position: relative;
      z-index: 999;
      margin-right: 20px;
      height: 81px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 30px;
      }
    }
    .hamburger-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
    }
    .hamburger {
      margin-left: 4px;
      &:hover {
        span {
          &::before,
          &::after {
            top: 0px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
