@media (max-width: 575px) {
  .form-width {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 516px;
  }
  .form-width {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 708px;
  }
  .form-width {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 932px;
  }
  .navbar-menu {
    display: flex !important;
  }
  .form-width {
    width: 600px;
  }

  .navbar-menulist-item {
    &:hover {
      .dropdown-menu {
        display: block;
        visibility: visible !important;
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .form-width {
    width: 600px;
  }
}
