@media (min-width: 576px) {
  .container {
    max-width: 516px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 708px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 932px;
  }
  .navbar-menu {
    display: flex !important;
  }
  // .dropdown {
  //   &:hover {
  //     .dropdown-menu.show {
  //       border-top: 3px solid #dc7633;
  //       top: 79px;
  //       opacity: 1;
  //       visibility: visible;
  //       transform: translateZ(0);
  //     }
  //   }
  // }
  .navbar-menulist-item {
    &:hover {
      .dropdown-menu {
        display: block;
        //border: 1px solid blue !important;
        visibility: visible !important;
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
