@media screen and (max-width: 768px) {
  .donation-amount-list-value-box.normal {
    padding: 0;
    margin: 3px !important;
    width: 34% !important;
    max-width: 49%;
  }
  .donation-amount-list-value-box.other {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .form-width {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 516px;
  }
  .form-width {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 708px;
  }
  .form-width {
    width: 600px;
  }
  .donation-amount-list-value-box {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 932px;
  }
  .navbar-menu {
    display: flex !important;
  }
  .form-width {
    width: 600px;
  }

  .navbar-menulist-item {
    &:hover {
      .dropdown-menu {
        display: block;
        visibility: visible !important;
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .form-width {
    width: 600px;
  }
}
