.about-container {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mission-stmt-container {
  padding: 30px;
  min-height: 300px;
  height: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e2e1e1;
  .mission-box {
    width: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
    .mission-stmt {
      // margin-top: 30px;
      font-weight: 700;
      line-height: 31px;
      text-align: center;
      &::first-letter {
        font-size: 200%;
        color: $color-wgreen;
      }
    }
  }
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .cards-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    .mini-card {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 10px;
      max-width: 335px;
      position: relative;
      .mcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        box-shadow: 2px 1px 10px, -2px -1px 10px;
        background-color: $color-wgreen;
        color: white;
        position: relative;
        font-weight: 700;
        font-size: 21px;
        img {
          width: 80%;
          height: 80%;
        }
      }
    }
  }
}
